*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
}

html, body{
    height: 100%;
    width: 100%;
}
*::selection{
    color: #95C11E;
    background-color: #fff;
}
body::-webkit-scrollbar{
    width: 5px;
    background-color: #95C11E;
}
body::-webkit-scrollbar-thumb{
    background-color: #fff;
    border-radius: 50px;
}
#cursor{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: #95C11E;
    position: fixed;
    z-index: 99;
}
#cursor-blur{
    height: 400px;
    width: 400px;
    border-radius: 50%;
    background-color: #96c11e69;
    position: fixed;
    filter: blur(30px);
    z-index: 9;
}

#nav{
    height: 140px;
    width: 100%;
    /* background-color: blue; */
    display: flex;
    padding: 0 150px;
    gap: 50px;
    position: fixed;
    align-items: center;
    justify-content: flex-start;
    z-index: 99;
}
#nav img{
    height: 75px;    
}
#nav h4{
    text-transform: uppercase;
    font-weight: 500;
}
video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}
#main{
    position: relative;
    background-color: rgba(0, 0, 0, 0.37);
}
#page1 #arrow{
    height: 200px;
    width: 200px;
    border: 2px solid #95C11E;
    background-color: transparent;
    position: absolute;
    display: flex;
    left: -2%;
    bottom: 0%;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: all ease 0.4s;
}
#page1 #arrow i{
    font-size: 50px;
}
#page #arrow:hover{
         scale:0.4;
         background-color: #95C11E; 
}
#page1{
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 10;
}
#page1 h1{
    font-size: 110px;
    font-weight: 900;
    position: relative;
}
#page1 h1::before{
    content:"DRINK. EAT. ENJOY.";
    position: absolute;
    color: black;
    top: -4px;
    left: -4px;
    -webkit-text-stroke: 2px #95C11E;
    z-index: -1;
}
#page1 h2{
    font-size: 25px;
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 15px;
}
#page1 p{
    font-size: 20px;
    font-weight: 400;
    width: 45%;
}
#page2{
    min-height: 100vh;
    width: 100%;
    z-index: 10;
}
#scroller{
    /* background-color: blue; */
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    z-index: 10;
}
#scroller::-webkit-scrollbar{
    display: none;
}
#scroller-in{
    display:inline-block;
    white-space: nowrap;
    animation: scroll;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
#scroller h4{
    display: inline-block;
    font-size: 140px;
    font-weight: 900;
    margin-right: 20px;
    color: transparent;
    transition: all linear 0.4s;
    -webkit-text-stroke: 2px #95C11E;
}
#scroller h4:hover{
    color: #95C11E;
}
@keyframes scroll {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }    
}
#about-us{
    height: 40vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 50px;
    position: relative;
    z-index: 10;
}
#about-us img{
    height: 220px;
    width: 220px;
    border-radius: 20px;
    object-fit: cover;
}
#about-us-in{
    width: 50%;
    text-align: center;
}
#about-us-in h3{
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 10px;
}
#about-us-in p{
    font-size: 20px;
    line-height: 26px;
}
#cards{
    height: 60vh;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    position: relative;
    z-index: 10;
    
}
.cards{
    height: 75%;
    width: 22%;
    /* background-color: blue; */
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    transition: all ease 0.5s;

}
#cards1{
     background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-toptracer-1024x682.jpg?strip=all&lossy=1&sharp=1&ssl=1);    
}
#cards2{
    background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/hero-4.jpg?strip=all&lossy=1&sharp=1&fit=1024%2C1024&ssl=1);    
}
#cards3{
    background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-lessons.jpg?strip=all&lossy=1&sharp=1&ssl=1);    
}
.overlay{
    height: 100%;
    width: 100%;
    background-color: #95C11E;
    padding: 30px;
    padding-top: 70px;
    opacity: 0;
    transition: all ease 0.5s;
    
}
.overlay h4{
    color: #000;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 600;
    white-space: nowrap;
    margin-bottom: 20px;
    
}
.overlay p{
    color: #000;
    font-size: 20px;
}
.cards:hover .overlay{
    opacity: 1;
}
.cards:hover{
    transform: rotate3d(-1,1,0,18deg);
}
#green-div{
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: red; */
    background: linear-gradient(to left bottom, #119F3A, #ACE022);
    
}
#green-div h4{
    width: 40%;
    font-size: 26px;
    text-transform: uppercase;
    text-align: center;
    color: #000;
}
#green-div img{
         height: 100%;
         object-fit: cover;
         width: 12%;
}
#page3{
    height: 100vh;
    width: 100%;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
#page3>p{
    width: 50%;
    font-size: 24px;
    line-height: 35px;
    font-weight: 700;
    text-align: center;
}
#page3 img{
    height: 60px;
    position: absolute;
}
#page3 #colon1{
    top: 25%;
    left: 15%;
}
#page3 #colon2{
    bottom: 25%;
    right: 15%;
}
#page4{
    height: 40vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    position: relative;
}
.elem{
    height: 60%;
    width: 27%;
    border-radius: 20px;
    overflow: hidden;
    position: relative;

}
.elem h2{
    height: 100%;
    width: 100%;
    color: #000;
    font-size: 32px;
    font-weight: 900;
    background-color: #95C11E;
    transition: all ease 0.4s;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 10;
}
.elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all ease 0.4s;
    scale: 1.1;
}
.elem:hover h2{
        color: #fff;
        background-color: transparent;
}
.elem:hover img{
          scale: 1;
}
#page4 h1{
    font-size: 100px;
    font-weight: 900;
    top: -10%;
    position: absolute;
    color: #000;
    -webkit-text-stroke: 2px #fff;
}
#footer{
    height: 40vh;
    width: 100%;
    background: linear-gradient(to left bottom, #119F3A, #ACE022);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 150px;
    padding: 0px 100px;
}
#footer>img{
    position: absolute;
    left: 0;
    height:100%;
    z-index: 0;
}
#f1 img{
    height: 100px;
}
#f1,#f2,#f3,#f4{
    width: fit-content;
    position: relative;
    z-index: 2;
}
#f2 h3{
    font-size: 30px;
    white-space: nowrap;
    text-transform: uppercase;
    color: #000;
    font-weight: 900;
    margin-bottom: 8px;
  
}
#f3 h3{
    font-size: 30px;
    white-space: nowrap;
    text-transform: uppercase;
    color: #000;
    font-weight: 800;
    margin-bottom: 8px;
   
}
#f4 h4{
    font-size: 18px;
    white-space: nowrap;
    text-transform: uppercase;
    color: #000;
    font-weight: 600;
    margin-bottom: 8px;
    line-height: 20px;
}